.container { 
    border-radius: 5px;
    background:#597445 ;
    padding: 20px;
    margin-top: 15px;
}

.container .addBtn {
    cursor: pointer;
    width: 50%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin-top: 15px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}