.container { 
    border-radius: 5px;
    background:#597445 ;
    padding: 20px;
    margin-top: 15px;
}

.container .button {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}