@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

.App {
  text-align: center; 
  background-color: #E7F0DC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 30px;
}
