
.App {
  text-align: center; 
  background-color: #E7F0DC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  line-height: 30px;
}
